body {
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #000000;
}

h1 {
  color: #7A0E22;
  text-align: center;
  font-size: 1.7em;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 15px;
  margin-top: 20px !important;
}

h2 {
  color: #002E6D;
  text-align: left;
  font-size: 1.4em;
  border-bottom: 1px solid #D3D3D3;
  padding-bottom: 15px;
}

h3 {
  color:  #00428A;
  text-align: left;
  font-size: 1.2em;
  padding-bottom: 15px;
}

h6 {
  color: #000000;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 15px;
}

p {
  color:  #000000;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
}

a {
  color:#005BB5;
  text-decoration: none;
}
a:hover {
  color:#7A0E22;
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #F4DFB9;
}

th {
  background-color: #2C3E4C;
  color: #F4DFB9;
  padding: 10px;
}

td {
  padding: 8px;
  border: 1px solid #2C3E4C;
}

.recuadro-transparente {
  background-color: rgba(135, 206, 235, 0.3);
  border: 1px solid rgba(135, 206, 235, 0.9);
  padding: 15px;
  margin: 20px 0;
  border-radius: 6px;
  font-style: italic;
}

button, .btn {
  background-color: #79A762;
  color: #F4DFB9;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}
button:hover, .btn:hover {
  background-color: #2C3E4C;
  color: #F4DFB9;
}


/*Modificaciones en el índice*/
.sidebar nav#TOC .toc-title {
  color: #000000 !important;
}


/* Color normal de los items del índice */
.sidebar nav#TOC a {
  color: #000000 !important;
}

/* Color al pasar el mouse */
.sidebar nav#TOC a:hover {
  color: #7A0E22 !important;
}

.sidebar nav#TOC {
  position: sticky;        /* se mantiene visible al hacer scroll */
  top: 100px;  /* altura desde arriba */
}

/* Esto fuerza a que la fecha quede arriba de los autores */
.quarto-title-authors, .quarto-title-meta {
  display: block !important;
  text-align: left !important;
}

.quarto-title-meta {
  order: -1;
}

.quarto-title-authors {
  order: 1;
}

.criterios-pequenos {
  font-size: 0.75em; /* 80% del tamaño normal */
}




